.conference {
    height: 105rem;
    background-image: url(../img/conference.jpg);
    background-repeat: no-repeat;
    margin-top: 7rem;
    //position: relative;

    /*&__img--2 {
        //position: absolute;
        //top: 50%;
        margin-left: 47%;
        margin-top: 25%;
    }*/

    &__items {
        display: flex;
        align-items: center;
    }

    &__direction {
        display: flex;
        flex-direction: column;
        margin-top: 9rem;
    }

    &__difference {
        padding: 5rem;
        background-color: #fff;
        font-size: 1.6rem;
        width: 45%;
        border-top-right-radius: 1rem;
        //border-top-left-radius: 1rem;
        margin-top: 20rem;
        margin-right: 44rem;
    }

    &__heading {
        font-size: 3.5rem;
    }

    &__difference > *:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__span {
        margin-right: 1.5rem;
        background-color: $color-tertiary-light;
        color: $color-tertiary-dark;
        align-self: flex-start;
        //margin-right: auto;
    }
}

.video__icon--blue-1 {
    margin-left: 47%;
    margin-top: 25%;
    fill: $color-primary;
    //grid-row: 1 / span 2;
}

.field__business {
    margin-bottom: 1rem;
}