.inquiry {
    height: 36rem;
    background-color: $color-primary-dark;
    color: #fff;
    padding: 4rem 0;
    
    &__section {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    p {
        font-size: 1.8rem;
        margin-top: 2rem;
    }

    &__heading {
        color: #fff;   
    }
}