.menu {
        color: $color-tertiary;
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        cursor: pointer;
}

.nav-btn {
    border: none;
    border-radius: none;
    height: 2px;
    width: 2.5rem;
    display: block;
    background-color: $color-tertiary;
    text-align: center;
    line-height: 0;
    margin-right: 1rem;

    
    &::before,
    &::after {
        content: "";
        height: 2px;
        width: 2.5rem;
        display: block;
        background-color: $color-tertiary;
    }
    
    &::before { transform: translateY(-.8rem); }
    &::after { transform: translateY(.6rem); }
}