# Exclude all node_modules directories
node_modules/

# Exclude all .env files
.env

icomoon.zip/

# Exclude all files in the .vscode directory, but include specific ones
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
/.angular/cache
.sass-cache/
