node_modules/
.env
icomoon.zip/

# Ignore everything in the .vscode folder
.vscode/*
# Except these files
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
/.angular/cache
.sass-cache/
